# Maven
**/target/

# Eclipse
**/.classpath
**/.project
**/.settings/
**/.factorypath
**/.metadata/

# Java
*.class

# Tomcat
**/work/
**/temp/
**/logs/

# Logs
*.log

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

# Temporary files
*.tmp
*.bak
*.swp
*~